<section>
    <form action="">
        <input type="text" name="" id="" placeholder="Filter by Cities" #filter [(ngModel)]="filterCity" (ngModelChange) = "filterResults($event)" [ngModelOptions]="{standalone: true}">
        <button class="primary" type="button" (click) = "filterResults(filter.value)">Search</button>
    </form>
</section>

<section class="results" *ngFor = "let housinglocationobj of filterList">
    <app-housing-location [housingLocationObj]="housinglocationobj"></app-housing-location>
</section>